.fieldInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.fieldInfo__baseInfo {
  margin-bottom: var(--spacing-m);
}

.fieldInfo__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  height: 100%;
}

.fieldInfo__titleBox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-l);
  width: 100%;
  align-items: center;

  svg {
    display: inline-block;
    height: 15px;
    min-width: 15px;
  }
}

.fieldInfo__title {
  width: 100%;
  font-family: Asimovian;
  font-size: 30px;
  margin: 0;
  color: var(--color-primary);
  background-color: unset;
  border: none;
  border-bottom: 2px solid var(--color-offsetLight);

  &:focus {
    outline: unset;
    border-color: var(--color-primary);
  }
}

.fieldInfo__listOfWorlds {
  margin-bottom: auto;
  gap: var(--spacing-m);
}

.fieldInfo__addWorld,
.fieldInfo__changeFieldType {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    margin-right: auto;
  }
}

.fieldInfoWorld {
  display: flex;
  align-items: center;
  gap: var(--spacing-l);
  animation: fadeIn 0.5s forwards;
}

.fieldInfoWorld__mainBtn {
  width: 100%;
  text-align: left;
}

.fieldInfoWorld__title {
  padding-bottom: var(--spacing-m);
}

.fieldInfoWorld__tags {
  flex-direction: row;
  flex-wrap: wrap;
}

.fieldInfoWorld__tag {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 2px var(--spacing-s);
}

.fieldInfoWorld[aria-pressed="true"] {
  z-index: 5 !important;
}
