.fieldInfo__baseInfo {
  margin-bottom: var(--spacing-m);
}

.fieldInfo__listOfWorlds {
  height: 100%;
  gap: var(--spacing-m);
}

.fieldInfoWorld {
  animation: fadeIn 1s forwards;

  button {
    width: 100%;
    text-align: left;
    padding: 5px 10px;
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: var(--spacing-s);
  }
}
