body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

h2 {
  font-family: Asimovian;
  font-size: 40px;
  margin: 0;
}

h3 {
  font-family: Asimovian;
  font-size: 30px;
  margin: 0;
}

p {
  margin: 0;
}

.btn,
button {
  --btnOffsetX: 3px;
  --btnOffsetY: 3px;

  position: relative;
  padding: var(--spacing-m);
  color: var(--color-primary);
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  box-shadow: var(--btnOffsetX) var(--btnOffsetY) 0px 0px
    var(--color-offsetLight);
  transition: all 0.2s;

  svg {
    height: 100%;
    width: 100%;
    stroke: var(--color-primary);
    fill: var(--color-primary);
  }
}

.btn:not(.btn__disabled):hover,
button:not(:disabled):hover {
  cursor: pointer;
  transform: translateX(var(--btnOffsetX)) translateY(var(--btnOffsetY));
  box-shadow: 0 0 0px 0px var(--color-primary);
}

.btn.btn__disabled,
button:disabled {
  opacity: 0.6;
}

.symbolBtn {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 50px;
  border-bottom-width: 5px;
  box-shadow: unset;
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  list-style: none;
  padding: 0;
  margin: 0;
}

select {
  background-color: transparent;
  color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s;
  padding: var(--spacing-m);

  &:hover {
    cursor: pointer;
  }

  &:open,
  &:hover {
    transform: translate(2px, 1px);
    color: var(--color-offsetLight);
    border-color: var(--color-offsetLight);
  }

  &:open {
    color: var(--color-offsetLight);
    border-color: var(--color-offsetLight);
  }
}
