body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 15px;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);

  &:hover {
    border-color: var(--color-hover);
  }
}
