body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: Asimovian;
  font-size: 40px;
  margin: 0;
}

h3 {
  font-family: Asimovian;
  font-size: 30px;
  margin: 0;
}

p {
  margin: 0 0 15px 0;
}

button,
.btn {
  padding: 15px;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
  transition: all 0.2s;
}

button:not(:disabled):hover,
.btn:not(.btn__disabled):hover {
  cursor: pointer;
  transform: translate(2px, 1px);
  color: var(--color-offsetLight);
  border-color: var(--color-offsetLight);
}

button:disabled,
.btn.btn__disabled {
  opacity: 0.6;
}

.symbolBtn {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 50px;
  border-bottom-width: 5px;
}

ul {
  padding-left: 15px;
  margin: 0;
}

select {
  background-color: transparent;
  color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translate(2px, 1px);
    color: var(--color-offsetLight);
    border-color: var(--color-offsetLight);
  }

  &:open {
    color: var(--color-offsetLight);
    border-color: var(--color-offsetLight);
  }
}
