.worldInfoBtn {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  animation: puls 0.5s;

  .WorldInfoBtn__mainBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: none;
    transition: all 0.2s;
    padding: 5px;
    text-align: left;

    &:hover {
      background-color: var(--color-offsetDark);

      .worldInfoBtn__tag {
        border-color: var(--color-offsetLight);
      }
    }
  }

  .worldInfoBtn__directionBtns {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);

    button {
      height: 25px;
      aspect-ratio: 1;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      fill: transparent !important;
    }
  }

  .worldInfoBtn__title {
    margin: 0;
    padding-bottom: var(--spacing-m);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .worldInfoBtn__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
    list-style: none;
    padding: 0;
  }

  .worldInfoBtn__tag {
    font-size: 0.9rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 2px var(--spacing-s);
  }
}
