.fieldInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldInfo__baseInfo {
  margin: 0;
  font-size: 0.9rem;
}

.fieldInfo__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fieldInfo__add {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: auto;

  p {
    margin: 0;
    margin-right: auto;
  }
}
