.hexagon-border {
  width: 100%;
  height: 100%;
  position: relative;
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background-color: white;
  padding: 1px;
}

.hexagon {
  background-color: black;
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  height: 100%;
  width: 100%;
}

.hexagon:hover {
  background: blue;
}
