.worldInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  .xBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.worldInfo__add {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: auto;

  p {
    margin: 0;
    margin-right: auto;
  }
}
