.field {
  background-color: white;
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2px;

  display: flex;
  flex-direction: column;
}

.field-inside {
  width: 100%;
  height: 100%;
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  background-color: black;

  &:hover {
    background-color: grey;
  }
}

.field-number {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
