.worldInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: none;
  transition: all 0.2s;

  .worldInfo__title {
    margin-bottom: var(--spacing-s);
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .worldInfo__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-s);
    list-style: none;
    padding: 0;
  }

  .worldInfo__tag {
    font-size: 0.9rem;
    padding: 0;
    border: none;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: var(--spacing-s) var(--spacing-m);
    display: flex;
    gap: var(--spacing-m);
    align-items: center;
  }

  svg {
    margin-left: auto;
    height: 15px;
    min-width: 15px;
    transition: all 0.2s;
  }
}
