.worldInfo {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .xBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.worldInfo__baseInfo {
  margin: 0;
  font-size: 0.9rem;
}

.worldInfo__tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  select {
    width: 100%;
  }

  button {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    height: 15px;
  }
}

.worldInfo__add {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: auto;

  p {
    margin: 0;
    margin-right: auto;
  }
}
