.worldInfo {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);

  .xBtn {
    position: absolute;
    top: -5px;
    right: -5px;
  }
}

.worldInfo__baseInfo {
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: var(--spacing-m);
}

.worldInfo__titleBox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-l);
  width: 100%;
  align-items: center;

  svg {
    display: inline-block;
    height: 15px;
    min-width: 15px;
  }
}

.worldInfo__title {
  width: 100%;
  font-family: Asimovian;
  font-size: 30px;
  margin: 0;
  color: var(--color-primary);
  background-color: unset;
  border: none;
  border-bottom: 2px solid var(--color-offsetLight);

  &:focus {
    outline: unset;
    border-color: var(--color-primary);
  }
}

.worldInfo__listOfTags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  margin-bottom: auto;

  .worldInfo__tagWrapper {
    display: flex;
    gap: var(--spacing-l);
    height: var(--spacing-xl);
    animation: fadeIn 0.5s;
  }

  select {
    width: 100%;
  }

  button {
    aspect-ratio: 1;
    border-radius: 50px;
  }
}

.worldInfo__positionControlls,
.worldInfo__addTag {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;

  p {
    margin: 0;
    margin-right: auto;
  }
}

.worldInfo__deleteBtns {
  margin-top: var(--spacing-xl);
  display: flex;
  gap: var(--spacing-l);
  justify-content: center;
}
