.sectorInfo {
}

.sectorInfo__title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;

  svg {
    height: 15px;
  }
}

.sectorInfo__input {
  width: 100%;
  font-family: Asimovian;
  font-size: 1.8rem;
}
