.sectorInfo {
}

.sectorInfo__title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-l);
  width: 100%;
  align-items: center;

  svg {
    display: inline-block;
    height: 15px;
    min-width: 15px;
  }

  input {
    width: 100%;
  }
}
