.sectorTitle {
  grid-area: top;
  display: flex;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: end;
  gap: var(--spacing-l);
  width: 100%;

  button {
    justify-content: start;
  }

  p {
    text-align: left;
  }
}
