.worldBtn {
  width: 100%;
  text-align: left;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  padding: 15px 10px 15px 0;
  transition: all 0.2s;

  b {
    font-size: 1.2rem;
    margin-right: 15px;
    white-space: nowrap;
  }

  svg {
    margin-left: auto;
    height: 20px;
    min-width: 20px;
    transition: all 0.2s;
  }
}

.worldBtn:hover {
  background-color: var(--color-hover__dark);
  padding-left: 5px;
  transform: unset;
  color: var(--color-primary);

  svg {
    transform: translateX(5px);
  }
}
