.map {
  height: calc(100vh - var(--header-size));
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: var(--spacing-l);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-l);
  grid-template-areas: "top top" "board infobox";
}

.map__top {
  grid-area: top;
  display: flex;
  gap: var(--spacing-l);
  height: fit-content;
}

.map__board {
  grid-area: board;
}

.map__infobox {
  grid-area: infobox;
}
