.map {
  height: calc(100vh - var(--header-size));
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: var(--spacing-l) 0;
  display: grid;
  grid-template-columns: 1fr 290px;
  grid-template-rows: 60px 1fr;
  gap: var(--spacing-l);
  grid-template-areas: "top top" "board infobox";
}
